/* Variables del Body */
#viewport, body {
    height: var(--100vvh, 100vh);
    width: var(--100vvw, 100vw);
    overflow: auto;
    position: relative;
}


/* Header */
#webchat-header-section {
    position: fixed;
    top: 0px!important;
    width: var(--100vvw, 0)!important;
    left: 0;    
    z-index: 1;

}

/* Footer */
.webchat__send-box__main {
    position: fixed;
    width: var(--100vvw, 0)!important;
    bottom: var(--offset-h, 0)!important;
    left: 0;
}

/* Otros */
#webchat-box {
    height: calc(--offset-h- 56px)!important;
}


/* Media */
@media screen and (min-width: 768px) {
    .body {
        overflow: hidden!important;
    }
}

/* Resolucion Mobile */
@media screen and (max-width: 767px) {
    .body {
        overflow: auto!important;
    }
    #webchat-container {
        top: 56px!important;
}
