.webchat__basic-transcript__activity-indicator--focus, .webchat__basic-transcript__focus-indicator {
    border: none !important;
}

@media screen and (max-width: 767px) {
    #webchat-header-section {
        position: fixed !important;
        z-index: 2;
    }

    #webchat-box {
        min-height: calc(var(--100vvh) - 56px) !important;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 56px;
    }

    #eds-webchat-container #webchat-container {
        position: fixed !important;
        height: var(--100vvh) !important;
    }

    .webchat__send-box{
        position: absolute;
        width: 100%;
        bottom: 0
    }

    .webchat__basic-transcript {
        position: absolute !important;
        left: 0;
        right: 0;
        bottom: 56px;
        top: 0px;
    }
}